  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Thin'), local('GT-Walsheim-Pro-Thin'),
        url('../font/GTWalsheimPro-Thin.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Thin.woff') format('woff'),
        url('../font/GTWalsheimPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Light'), local('GT-Walsheim-Pro-Light'),
        url('../font/GTWalsheimPro-Light.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Light.woff') format('woff'),
        url('../font/GTWalsheimPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }


  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Regular'), local('GT-Walsheim-Pro-Regular'),
        url('../font/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Regular.woff') format('woff'),
        url('../font/GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Medium.woff') format('woff'),
        url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Bold'), local('GT-Walsheim-Pro-Bold'),
        url('../font/GTWalsheimPro-Bold.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Bold.woff') format('woff'),
        url('../font/GTWalsheimPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro UltraBold'), local('GT-Walsheim-Pro-UltraBold'),
        url('../font/GTWalsheimPro-UltraBold.woff2') format('woff2'),
        url('../font/GTWalsheimPro-UltraBold.woff') format('woff'),
        url('../font/GTWalsheimPro-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Black'), local('GT-Walsheim-Pro-Black'),
        url('../font/GTWalsheimPro-Black.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Black.woff') format('woff'),
        url('../font/GTWalsheimPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }





  @font-face {
    font-family: 'Athletics';
    src: local('Athletics Black'), local('Athletics-Black'),
        url('../font/Athletics-Black.woff2') format('woff2'),
        url('../font/Athletics-Black.woff') format('woff'),
        url('../font/Athletics-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Bold Italic'), local('Athletics-BoldItalic'),
        url('../font/Athletics-BoldItalic.woff2') format('woff2'),
        url('../font/Athletics-BoldItalic.woff') format('woff'),
        url('../font/Athletics-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Black Italic'), local('Athletics-BlackItalic'),
        url('../font/Athletics-BlackItalic.woff2') format('woff2'),
        url('../font/Athletics-BlackItalic.woff') format('woff'),
        url('../font/Athletics-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics ExtraBold Italic'), local('Athletics-ExtraBoldItalic'),
        url('../font/Athletics-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Athletics-ExtraBoldItalic.woff') format('woff'),
        url('../font/Athletics-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Medium Italic'), local('Athletics-MediumItalic'),
        url('../font/Athletics-MediumItalic.woff2') format('woff2'),
        url('../font/Athletics-MediumItalic.woff') format('woff'),
        url('../font/Athletics-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Bold'), local('Athletics-Bold'),
        url('../font/Athletics-Bold.woff2') format('woff2'),
        url('../font/Athletics-Bold.woff') format('woff'),
        url('../font/Athletics-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Italic'), local('Athletics-Italic'),
        url('../font/Athletics-Italic.woff2') format('woff2'),
        url('../font/Athletics-Italic.woff') format('woff'),
        url('../font/Athletics-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics ExtraBold'), local('Athletics-ExtraBold'),
        url('../font/Athletics-ExtraBold.woff2') format('woff2'),
        url('../font/Athletics-ExtraBold.woff') format('woff'),
        url('../font/Athletics-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Light Italic'), local('Athletics-LightItalic'),
        url('../font/Athletics-LightItalic.woff2') format('woff2'),
        url('../font/Athletics-LightItalic.woff') format('woff'),
        url('../font/Athletics-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Light'), local('Athletics-Light'),
        url('../font/Athletics-Light.woff2') format('woff2'),
        url('../font/Athletics-Light.woff') format('woff'),
        url('../font/Athletics-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Regular'), local('Athletics-Regular'),
        url('../font/Athletics-Regular.woff2') format('woff2'),
        url('../font/Athletics-Regular.woff') format('woff'),
        url('../font/Athletics-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athletics';
    src: local('Athletics Medium'), local('Athletics-Medium'),
        url('../font/Athletics-Medium.woff2') format('woff2'),
        url('../font/Athletics-Medium.woff') format('woff'),
        url('../font/Athletics-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../font/NeueMachina-Light.eot');
    src: url('../font/NeueMachina-Light.eot') format('embedded-opentype'),
        url('../font/NeueMachina-Light.woff2') format('woff2'),
        url('../font/NeueMachina-Light.woff') format('woff'),
        url('../font/NeueMachina-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../font/NeueMachina-Ultrabold.eot');
    src: url('../font/NeueMachina-Ultrabold.eot') format('embedded-opentype'),
        url('../font/NeueMachina-Ultrabold.woff2') format('woff2'),
        url('../font/NeueMachina-Ultrabold.woff') format('woff'),
        url('../font/NeueMachina-Ultrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../font/NeueMachina-Regular.eot');
    src: url('../font/NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMachina-Regular.woff2') format('woff2'),
        url('../font/NeueMachina-Regular.woff') format('woff'),
        url('../font/NeueMachina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




